<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Sample template</title>
		<meta name="fullcss"  content="assets/css/full.css">
		<meta name="fulljs"  content="assets/js/shoestring.ajaxinclude.enhancements.js">
		<script>
			{% include enhance.js %}
		</script>
		<!--#if expr="$HTTP_COOKIE=/fullcss\=true/" -->
		<link rel="stylesheet" href="assets/css/full.css">
		<!--#else -->
		<style>
			/* critical CSS styles for this template go here... */
			{% include critical.css %}
		</style>
		<noscript><link rel="stylesheet" href="assets/css/full.css"></noscript>
	<!--#endif -->
	</head>
	<body>
		<h1>This is a sample template. It's here for the purposes of examining how files are referenced and loaded.</h1>
		<div  class="explain">
			<p>It includes enhance.js and an example file: enhance.audit.js, which uses enhance.js to determine whether - and which - files should be added to enhance this browser's experience when JS is available.</p>
			<p>If this browser's experience is enhanced, you'll see some notes on what's been added below. The messages are added by the files that have been included.</p>
		</div>

		<div data-replace="assets/sample-fragment.html"></div>

	</body>
</html>